body {
  font-family: $font;
  color: $blackPrimary;
  background: $background;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.shadow {
  box-shadow: $shadow;
}

.border-radius-primary {
  @include border-radius(0.75rem);
}

.border-radius-secondary {
  @include border-radius(0.25rem);
}