body {
  font-family: $font;
  color: $blackPrimary;
  background: $background;
  box-sizing: border-box;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.shadow {
  box-shadow: $shadow;
}

.border-radius-primary {
  @include border-radius(0.75rem);
}

.border-radius-secondary {
  @include border-radius(0.25rem);
}

.input-field {
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  @include border-radius(0.25rem);
  background: rgba(white, 0.2);
  border: 2px solid $greyTertiary;
  color: white;
  &::placeholder {
    color: white;
  }
  &:focus {
    border: 2px solid white;
  }
}

.btn {
  padding: 0.25rem 0.5rem;
  min-width: 50%;
  @include border-radius(0.25rem);
  background: $greySecondary;
  border: 2px solid $greyTertiary;
  color: white;
  &:hover {
    background: $greyPrimary;
  }
}

.success {
  color: $success;
}

.danger {
  color: $danger;
}